:root {

    --BGC      : #000000;
    --FGC      : #ffffff;
    --BGClogo  : #222222;
    --FGClogo  : #ffffff;
    --FGCtitle : #ff4500;
    --FGCstart1: #4B99D2;
    --FGCstart2: #00ffff;
    --FGCstart3: #ffa074;
    --FGCstart4: #98fb98;
    --FGCstart5: #b0c4de;
    --FGCstart6: #7fffd4;
    --FGCstart7: #db2e24;
    --FGCstart8: #ff4500;
    --FGCtext  : #ffffff;
    --FGCemph  : #ffffff;
    --FGCbtcode: #333333;
    --FGCftcode: #ffffff;
    --FGCbcode : #b3b3b3;
    --FGCtcomm : #ff4500;
    --FGCtcode : #bfbfff;
    --FGCfile  : #eedd82;
    --FGCmath  : #98fb98;
    --FGClink  : #00ffff;
    --BGClinkh : #556b2f;
    --FGClinkh : #ffffff;
    --BGCdt    : #b3b3b3;
    --FGCdt    : #ffffff;
    --FGCthead : #ff7f24;
    --BGCthead : #000000;
    --FGCtbody : #87cefa;
}

@font-face { font-family: text;           src: local('sans-serif'          );                     }
@font-face { font-family: text_bold;      src: local('sans-serif'   ); font-style: bold;   }
@font-face { font-family: text_italic;    src: local('sans-serif'   ); font-style: italic; }
@font-face { font-family: text_verse;     src: local('sans-serif'   ); font-style: italic; }
@font-face { font-family: title;          src: local('cursive'      );                     }
@font-face { font-family: heatline;       src: local('cursive'      );                     }
@font-face { font-family: codetext;       src: url("http://nasciiboy.land/DejaVuSansMono.ttf");                     }
@font-face { font-family: codeblock;      src: url("http://nasciiboy.land/DejaVuSansMono.ttf");                     }
@font-face { font-family: description_dt; src: local('cursive'      );                     }
@font-face { font-family: description_dd; src: local('sans'         );                     }

html { background: var( --BGC ); color: var( --FGC );
       margin: 0; padding: 0;
       font-size: 1.3em;
       line-height: 1.5em;
       box-sizing: border-box;
     }

html body { margin: 1em 0em 1em 1em;
            font-size: 1.0em;
            font-family: text;
          }

html body main {font-size: 1.0em;
                font-family: text;
                box-sizing:border-box;
                padding-left: 2em;
                width: 70%;
                float: left;
               }

html body main article { padding-right: 1em; }

html body main div.thumb {font-size: 1.0em;
                font-family: text;
                box-sizing: border-box;
                padding: 1em;
                width: 48%;
                float: left;
               }

ul.meta { list-style: none; padding-left: 0.8em; margin: 0em; }
ul.meta li { line-height: 1.5em; }

.taxonomies { color: green; clear: both; }
ul.terms    { list-style: none; margin: 0em; padding: 0em; }
ul.terms li { display: block;
              float: left;
              margin: .1em .5em .1em .5em;
}

ul.terms a { text-decoration: none;
}

ul.terms a:hover { text-decoration: none;
                   background-color: #333;
                   color: #fff;
}

.summary {
  max-height: 8.7rem;
  overflow: hidden;
}

div.thumb-sm {font-size: 0.7em;
                font-family: text;
             }

.thumb-sm header h2 { margin: 0em; padding: 0.3em 0em 0em 0em; }

html body aside {
    font-size: 1.0em;
    font-family: text;
    box-sizing:border-box;
    width: 30%;
    float: left;
}

html body footer {
    font-size: 0.7em;
    clear: both;
}

nav.p-paging { clear: both; padding-top: 2em; text-align: center; }

.footer-title { clear: both; }

.footer-title a { list-style: none; text-decoration: none; color: red; }

h1 { color: var( --FGCtitle  ); font-size:   3em; font-family: title   ; line-height: 1.1em; }
h2 { color: var( --FGCstart1 ); font-size: 1.6em; font-family: heatline; line-height: 1.1em; }
h3 { color: var( --FGCstart2 ); font-size: 1.5em; font-family: heatline; line-height: 1.1em; }
h4 { color: var( --FGCstart3 ); font-size: 1.4em; font-family: heatline; line-height: 1.1em; }
h5 { color: var( --FGCstart4 ); font-size: 1.3em; font-family: heatline; line-height: 1.1em; }
h6 { color: var( --FGCstart5 ); font-size: 1.2em; font-family: heatline; line-height: 1.1em; }
h7 { color: var( --FGCstart6 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; }
h8 { color: var( --FGCstart7 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; }
h9 { color: var( --FGCstart8 ); font-size: 1.1em; font-family: heatline; line-height: 1.1em; }

.path li { display: inline; list-style:none; padding: 0em 0.1em; margin:0em; }
.path li a { text-decoration: none; color: #87cefa; }
.path-pwd { color: yellow; }

pre {
    background-color: var( --FGCbtcode ); color: white;
    font-size: 100%; text-align: left; font-family: codeblock;
    box-sizing:border-box; padding: 1.0em; border: 0.05em solid #ddd;
    overflow: auto;
}

pre code { background-color: var( --FGCbtcode ); color: var( --FGCftcode ); font-size: 1em;  font-family: codetext;
}

b    { font-family: text_bold; }
i    { font-family: text_italic; }
u    { text-decoration: underline; }
em   { color: var( --FGCemph ); font-weight: 600; }
code { color: var( --FGCtcode ); font-family: codetext; padding: 0px 0.2em; }
code.command { color: var( --FGCtcomm ); font-family: codetext; padding: 0px 0.2em; }
.file { color: var( --FGCfile ); font-family: codetext; }
.math { color: var( --FGCmath ); font-family: codetext; }

a { color: #00ffff; text-decoration: underline; }
a:hover { background-color: #556b2f; color: #ffffff; text-decoration: none; }

li { color: #fff; font-size: 1em; }
li b { font-weight: bold; }
li p { color: #fff; font-size: 1em; }


dl { padding-bottom: 2em; }
dl dt { color: #daa520;
                                  font-size: 1.2em; font-family: description_dt;
                                  margin-left: 0.6em; }
dd { color: #ffffff;
                                  font-size: 1.0em; font-family: description_dd; font-style: bold;
                                  margin-left: 0.6em; }
img { border: none; max-width: 100%; }
img:hover { border: 0.05em solid #fff; }
